/* You can add global styles to this file, and also import other style files */
body {
  overflow: scroll;
  position: relative;
}
.backdrop-no-scroll {
  overflow: scroll !important;
}
h2 {
  margin: 0;
  display: inline-block;
}
hr {
  margin: 12px auto 16px;
  border-color: #c5c5c5;
  border-width: 0px 0px 1px 0;
  border-style: solid;
}

button {
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}
button.btn-small {
  padding: 4px 16px;
  font-size: 10px;
  min-width: 72px;
}
button.primary {
  background-color: rgb(35, 147, 238);
  border: 1px solid rgb(16 107 181);
  color: white;
}
button.outline {
  background-color: transparent;
  border: 1px solid rgb(35, 147, 238);
  color: rgb(35, 147, 238);
}
button.outline:hover {
  background-color: rgba(35, 147, 238, 0.1);
  cursor: pointer;
}
.card {
  margin: auto;
  padding: 16px;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  max-width: 800px;
  width: 100%;
}
